.container {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .text {
    font-size: 1.5rem;
  }
}